require 'active_merchant'

configure do
  set :authorize_credentials => {
    :login => "LOGIN"
    :password => "PASSWORD"
  }
  ActiveRecord::Base.establish_connection(
    :adapter => 'sqlite3',
    :database =>  'db/development.sqlite3.db'
  )
  ActiveMerchant::Billing::Base.mode = :test
end
