<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Locate Express | Coming Soon</title>
  <meta name="description" content="Locate Express" />
  <meta name="keywords" content="Locate Express" />
  <link href="/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/admin/base.js"></script>
  <script type="text/javascript" src="/javascripts/admin/order.js"></script>
  <script type="text/javascript" src="/javascripts/admin/product.js"></script>
  <script type="text/javascript" src="/javascripts/admin/page.js"></script>
</head>
    
<body>

<table width="100%">
	<tr>
		<td width="100">
			<h1>Admin</h1>
		</td>
		<td class="message"></td>
	</tr>
	<tr>
		<td class="left" valign="top"></td>
		<td class="right" valign="top"></td>
	</tr>
</table>

</body>
</html>
