<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Locate Express | Coming Soon</title>
  <meta name="description" content="Locate Express" />
  <meta name="keywords" content="Locate Express" />
  <link href="/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://yui.yahooapis.com/3.2.0/build/yui/yui.js"></script>
  <script type="text/javascript" src="/javascripts/admin/base.js"></script>
  <script type="text/javascript" src="/javascripts/admin/order.js"></script>
  <script type="text/javascript" src="/javascripts/admin/product.js"></script>
</head>
    
<body>

<div class="left">
<!-- build tabs here -->
</div>
<div class="message"></div>
<div class="right">
<!-- build content here -->
</div>

</body>
</html>
