<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title><%= @title %></title>
  <meta name="description" content="My Store" />
  <meta name="keywords" content="My Store" />
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascript/jquery-1.4.4.min.js"></script>
</head>
    
<body class="<%= body_class %>">

<div id="header">
  <div class="wrapper">
    <a href="/"><img id="logo" src="/images/cupcakes.png" /></a>
    <a id="cart_link" href="/cart"><img src="/images/cart.png" alt="Your Cart" class="cart" /></a>
  </div>
</div>
