<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>My Store</title>
  <meta name="description" content="My Store" />
  <meta name="keywords" content="My Store" />
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
    
<body>
<a href="/cart">Your Cart</a>
  <div class="products">
    <% @products.each do |product| %>
    <form action="/cart/add" method="post">
    <div class="product">
    <%= product.name %>
    <%= product.description %>
    <%= price_display(product.price) %>
    <input type="hidden" name="product_id" value="<%= product.id %>" />
    <input type="text" name="quantity" value="1" />
    <input type="submit" value="ADD!" />
    </div>
    </form>
    <% end %>
  </div>
</body>
</html>
