Here is the index.

<%= response %>

<form action="/" method="post">
	<p>email:<input type="text" name="email" /></p>
	<p>first name:<input type="text" name="bill_firstname" /></p>
	<p>last name:<input type="text" name="bill_lastname" /></p>
	<p>street1:<input type="text" name="bill_address1" /></p>
	<p>street2:<input type="text" name="bill_address2" /></p>
	<p>city:<input type="text" name="bill_city" /></p>
	<p>state:<input type="text" name="bill_state" /></p>
	<p>first name:<input type="text" name="ship_firstname" /></p>
	<p>last name:<input type="text" name="ship_lastname" /></p>
	<p>street1:<input type="text" name="ship_address1" /></p>
	<p>street2:<input type="text" name="ship_address2" /></p>
	<p>city:<input type="text" name="ship_city" /></p>
	<p>state:<input type="text" name="ship_state" /></p>
	<p><input type="submit" value="Submit" /></p>
</form>
