<%= erb "layout/header".to_sym, :locals => { :body_class => 'page' } %>

<div class="wrapper">
<form action="/login" method="post" id="login">
	<%= @login_errors.to_s %>
	<p>
        <label>email:</label>
		<input type="text" name="email" />
    </p>
	<p>
        <label>password:</label>
		<input type="password" name="password" />
    </p>
	<p>
		<input type="submit" value="submit" />
	</p>
</form>

<form action="/create_account" method="post" id="create_account">
	<%= @create_errors.to_s %>
	<p>
        <label>email:</label>
		<input type="text" name="email" />
    </p>
	<p>
        <label>password:</label>
		<input type="password" name="password" />
    </p>
	<p>
        <label>confirm password:</label>
		<input type="password" name="repassword" />
    </p>
	<p>
		<input type="submit" value="submit" />
	</p>
</form>
</div>

<%= erb "layout/footer".to_sym %>
