body { margin: 0px; font-size: 10px; font-family: "Lucida Sans", sans-serif; }
label { width: 80px; float: left; position: relative; top: 7px; text-align: right; padding-right: 10px; }
p { margin: 5px 0px; }
div.error { color: #e4195b; clear: both; line-height: 1.7em; font-size: 11px; margin-top: 10px; }
input, select { width: 150px; }
select#month, select#year { width: 60px; }
h3 { font-size: 12px; font-weight: normal; text-align: center;  }
a { outline: none; }
img { border: none; }
div.clear { clear: both; }

img.product { float: left; width: 29%; margin-top: 30px; }
div.buy { padding: 5px 0px 40px 0px; }
div.center { text-align: center; }
img#success { margin: 80px auto; }
input.submit { width: 260px; margin-top: 10px; }
a#cart_link { color: #e4195b; text-decoration: none; font-size: 14px; position: absolute; bottom: 10px; right: 56px; }

div.wrapper { width: 960px; margin: 0px auto; position: relative; }
div.products { margin-bottom: 20px; }
form.product { font-size: 10px; float: left; width: 33%; margin-top: 15px; text-align: center; }
form.product:hover { cursor: pointer; }
form.product img { width: 230px; }
form.product h2 { font-size: 14px; font-weight: 1.5em; text-align: center; font-weight: normal; }
form.product h2 span { font-weight: normal; }
form.product input { width: 20px; }
form.product input.submit { width: 50px; }
form.product p { text-align: left; padding: 0px 43px; line-height: 1.75em; height: 70px; }

p#p_price { margin-bottom: 10px; height: 25px; }
label#price { font-weight: bold; }
label#price_display { color: #e4195b; font-size: 14px; text-align: left; position: relative; top: 5px; } 

div#header { background: url(/images/top_gradient.png) repeat-x; text-align: center; height: 134px; }
img#logo { margin-top: 15px; }
div#footer { clear: both; background: url(/images/footer.png); height: 168px; width: 100%; }
img#divider { width: 960px; }

body.cart img.thumbnail { height: 80px; }
body.cart form.cart { float: left; width: 300px; }
body.cart form.order { float: right; width: 650px; }
body.cart div.cart_item { margin-bottom: 10px; clear: both; height: 80px; }
body.cart div.cart_item img, body.cart div.cart_item p, body.cart div.cart_item input { float: left; }
body.cart div.cart_item input { width: 40px; }
body.cart div.cart_item div.totals { clear: both; } 
